@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexAj</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>




<script src="~/Content/jquery-ui-1.10.4/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $('body').html("<img src='/Content/Image/ajax.gif' />").load('/Home/Index');
    });
</script>