@{
    ViewBag.Title = "Index";
}
 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css"><h2></h2>
<script src="../../Scripts/tabs.js"></script>
<div id="tabs">
<ul>
<li><a href="/ColdWater">Холодная вода</a></li>
<li><a href="/Hotwater">Горячая вода</a></li>
<li><a href="Electricity">Электричество</a></li>
</ul>

</div>
