body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #f7f4d3;
   background-image:url(Image/wood-texture-114.jpg);
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:2px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
    border-radius: 3%;
    background-image:url(Image/shool-paper.jpg)
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
.features-table01
{
  width: 100%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  text-shadow: 0 1px 0 #fff;
  color: #2a2a2a;
  background: #fafafa;
  background-image: -moz-linear-gradient(top, #fff, #eaeaea, #fff); /* Firefox 3.6 */
  background-image: -webkit-gradient(linear,center bottom,center top,from(#fff),color-stop(0.5, #eaeaea),to(#fff));
}

.features-table01 td
{
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  -webkit-box-shadow: 0 1px 0 white;
  white-space: nowrap;
  text-align: center;
}

/*Body*/
.features-table01 tbody td
{
  text-align: center;
  font: normal 12px Verdana, Arial, Helvetica;
  width: 150px;
}

.features-table01 tbody td:first-child
{
  width: auto;
  text-align: left;
}

.features-table01 td:nth-child(2), .features-table td:nth-child(3)
{
  background: #efefef;
  background: rgba(144,144,144,0.15);
  border-right: 1px solid white;
}

.features-table01 td:nth-child(4)
{
  background: #e7f3d4;
  background: rgba(184,243,85,0.3);
}
.features-table01 td:nth-child(5)
{
  background: #e7f3d4;
  background:rgba(144,144,144,0.15);
}
.features-table01 td:nth-child(6)
{
  background: #e7f3d4;
  background: rgba(184,243,85,0.3);
}
.features-table01 td:nth-child(7)
{
  background: #e7f3d4;
  background:rgba(144,144,144,0.15);
}
.features-table01 td:nth-child(8)
{
  background: #e7f3d4;
  background:rgba(184,243,85,0.3);
}
.features-table01 td:nth-child(9)
{
  background: #e7f3d4;
  background:rgba(144,144,144,0.15);
}
.features-table01 td:nth-child(10)
{
  background: #e7f3d4;
  background:rgba(184,243,85,0.3);
}
.features-table01 td:nth-child(11)
{
  background: #e7f3d4;
  background:rgba(144,144,144,0.15);
}
.features-table01 td:nth-child(12)
{
  background: #e7f3d4;
  background:rgba(184,243,85,0.3);
}

/*Header*/
.features-table01 thead td
{
  font: bold 1.3em 'trebuchet MS', 'Lucida Sans', Arial;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 1px solid #eaeaea;
}

.features-table01 thead td:first-child
{
  border-top: none;
}

/*Footer*/
.features-table01 tfoot td
{
  font: bold 1.4em Georgia;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom: 1px solid #dadada;
}

.features-table01 tfoot td:first-child
{
  border-bottom: none;
}
.hbtn {
    /*display: block;*/
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
color: #a7a7a7;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  font-size:100%;
  font-weight: 900;
  
  

}
.hbtn:hover{
    text-decoration:  none;
  color: #2a2a2a;
  background: #f5f5f5;
}
#cold{
background-image:url( Image/3.png);
  
  background-size:100%;
}
#hot{
background-image:url(Image/gr_27.01.10_schetchik.jpg);
background-size:  100%;
}
#electr{
background-image:url(Image/sch_nik_2301_AP2_pic_med.gif);
    background-size:100%;

}
#grupbtn{
position:absolute ;
left:300px;
top: 250px;
}
.display-field{
    
border:1px solid #9E9E9E;
    color: #000000;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 11px;
    font-family: Verdana;
    background: #FFF;
     border: 1px solid #cccccc;
    border-radius: 20px;

}
.text-box {
  border:4px solid #9E9E9E;
    color: #000000;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 16px;
    font-family: Verdana;
    text-align:center;
    background: #FFF;
     border: 1px solid #cccccc;
    border-radius: 20px;

   

}
.a {
 display: block;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #a7a7a7;
  margin: 36px;
  width: auto;
  height: auto ;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;

}
 .a:hover{
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}
.a::before{

    content: "";
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -18px;
  left: -18px;
  bottom: -18px;
  right: -18px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}
.viewdiv {
 display: block;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #a7a7a7;
  /*margin: 36px;*/
  /*width: auto;*/
  /*height: auto ;*/
  /*position: relative;*/
  /*text-align: center;*/
  /*line-height: 144px;*/
  border-radius: 5%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;


}