@model IEnumerable<MvcApplication_dom_base.Models.Coldwater>

@*<table>
    <tr>
       
        <th>
            Previous
        </th>
      
        <th>
            date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
         <td>
            @Html.DisplayFor(modelItem => item.CurrentTotal)
        </td>
               
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
       
    </tr>
}

</table>*@
@{
WebGrid grid= new WebGrid(Model,null,null,12,true,true,"dialog",null);

}

@grid.GetHtml(columns:new []{
grid.Column("Current"),
grid.Column("date")
})